
  body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    background-image: url(../pictures/STg8RW.png);
    background-size: cover;
    background-attachment: fixed;
   
  }

  #board {
    display: grid;
    grid-template-columns: repeat(3, 15vmin);
    grid-template-rows: repeat(3, 15vmin);
  }

  #board div {
    border: 1px solid black;
    font-size: 70px;
    text-align: center;
  }

  #btn {
    padding: 10px;
    margin-top: 40px;
  }

